.navigation{
  &__checkbox{
    display: none;
    
  }
  &__button{
    background-color: $color-white;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    box-shadow: 0 1rem 2.5rem rgba($color-dark,.2);
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 2000;
    cursor: pointer;

  }
  &__background{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient($color-primary-light,$color-primary-dark);
    z-index: 1000;
    transition: all .7s cubic-bezier(0.86,0,0.07,1);
   // transform: scale(60);
  }
  &__nav{
    height:100vh;
    width:0;
    position:fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    transition: all .8s;
  }
  &__list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    list-style: none;
    text-align: center;
  }
  &__item{
    margin: 1rem;
  }
  &__link{
    &:link,
    &:visited{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
    color: $color-white;
    padding: 1rem 2rem;
    background-image: linear-gradient(120deg,transparent 0%,transparent 50%,$color-white 50%);
    background-size: 220%;
    transition: all .4s;
     span{
       margin-right: 1.5rem;
       display: inline-block;
     }
    }
    &:hover,
    &:active{
      background-position: 100%;
      color: $color-primary;
    }
    
  }

  &__checkbox:checked ~ &__background{
    transform: scale(80);   
  }

  &__checkbox:checked ~ &__nav{
    opacity:1;
    width: 100%;
  }

  &__icon{
    position: relative;
    margin-top: 3.2rem;
    margin-left: 2rem;
    &::before,
    &::after{
      content: "";
      position: absolute;
      left: 0;
      transition: all .3s;

    }

    &,
    &::before,
    &::after{
      width: 3rem;
      height: 2.5px;
      background-color: $color-dark;
      display: inline-block;
    }
    &::before{top: -.8rem;}
    &::after{top: .8rem;}
  }

  &__button:hover &__icon::before{
    top: -1rem;
  }
  &__button:hover &__icon::after{
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon{
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::after{
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::before{
    top: 0;
    transform: rotate(-135deg);
  }
}