
:root {
  --primary-color:#c72727;
  --secondary-color:#f99500;
  --light-color:#f3f3f3;
  --dark-color:#333;
  --max-width:1800px;
}

.category {

  --sports-color:#f99500;
  --ent-color:#a66bbe;
  --tech-color:#009cff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Lato', sans-serif ;
  line-height: 1.5;
  background: var(--light-color);
}

a {
  color: #333333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  line-height: 1.8;
  margin-bottom: .5rem 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Staatliches',cursive;
  margin-bottom: .55rem;
  line-height: 1.5;
}

/*Utility*/

.container {
  padding: 0 2rem;
  max-width: var(--max-width);
  margin: auto;
  overflow: hidden;
}
.card {
  background: #ffffff;
  padding: 1rem;
}
.category {
  display: inline-block;
  color: #ffffff;
  font-size: 0.55rem;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  max-width:5.5rem;
}

.category-sport {background: var(--sports-color);}
.category-ent {background-color: var(--ent-color);}
.category-tech {background-color: var(--tech-color);}

.btn {
  display: inline-block;
  background: var(--dark-color);
  color: #ffffff;
  padding: 0.5rem 0.8rem;
  border: none;
  text-align: center;
  margin-top: 1rem;
}
 .btn:hover {
   opacity: 0.9;
 }

 .btn-primary {
   background: var(--primary-color);
   color: #ffffff;
 }
 .btn-secondary {
   background: var(--secondary-color);
   color: #ffffff;
 }

 .btn-block {
   display: block;
   width: 100%;
   text-align: center;
 }

 .bg-dark {
   color: #ffffff;
   background: var(--dark-color);
 }  
 .bg-primary {
   color: #ffffff;
   background: var(--primary-color);
 }  
 .bg-secondary {
   color: #ffffff;
   background: var(--secondary-color);
 }  

 .bg-dark h1,
 .bg-dark h2,
 .bg-dark h3,
 .bg-dark a,
 .bg-primary h1,
 .bg-primary h2,
 .bg-primary h3,
 .bg-primary a,
 .bg-secondary h1,
 .bg-secondary h2,
 .bg-secondary h3,
 .bg-secondary a{
   color: #ffffff;
 }
 .py-1{padding: .5rem 0;}
 .py-2{padding: 2rem 0;}
 .py-3{padding: 3rem 0;}
 .p-1{padding: 1.5rem;}
 .p-2{padding: 2rem;}
 .p-3{padding: 3rem;}
 
/*Page inner style*/
 .page-container{
   display: grid;
   grid-template-columns: 5fr 2fr;
   margin: 2rem 0;
   grid-gap: 1.5rem;
 }
 .page-container > *:first-child {
   grid-row: 1/span 3;
 }
 .l-heading {
   font-size: 2.5rem;
 }

 .list li {
   padding: 0.5rem 0;
   border-bottom: #555555 dotted 1.4px;
   width: 90%;
 }
 .list li a:hover {
   color: var(--primary-color) !important;
 }

/*Navigation*/
 #main-nav {
   background: #ffffff;
   position: sticky;
   top: 0px;
   z-index:2;
 }

 #main-nav .nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
 }

 #main-nav .logo {
   width: 180px; ;
 }

 #main-nav ul {
   display: flex;
   justify-self:end;
  
 }

 #main-nav ul li a {
   padding: 0.75rem;
   font-weight: bold;
 }


 #main-nav ul li a.current {
   background-color: var(--primary-color);
   color: #ffffff;
 }

 #main-nav ul li a:hover {
   background-color: var(--light-color);
   color: var(--dark-color);
 }

 #main-nav .social{
   justify-self: center ;
 }

 #main-nav .social i {
  color: #777777;
  margin-right: 0.5rem;
 }

 #main-nav .social i:hover {
   color: var(--primary-color);
 }


 /*Showcase*/

 #showcase {
   position: relative;
   background: #444444;
   color: #ffffff;
   padding: 2rem;
   width: 100%
 }

 #showcase:before {
   content: '';
   background: url('../images/featured.jpg') no-repeat center center/cover;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.4;
 }
  #showcase .showcase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 70vh;
  }

  #showcase .showcase-container p {
    max-width: 720px;
  }

  .showcase-container > * {
    z-index: 1;
  }

 /*Aritcle Grid*/

 #home-articles .article-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 2rem;
 }

 #home-articles .article-container > *:first-child,
 #home-articles .article-container > *:last-child {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
   grid-column: 1/span 2;
   align-items: center;
 }

 #home-articles .article-container > *:last-child {
   grid-column: 2/span 2;
 }

 
  .card .meta {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background: #eeeeee;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    border-style: none 1px solid;
  }

  .meta p {
    margin-top: 0.8rem;
  }

/*Footer*/

#main-footer {
  background: var(--dark-color);
  color:#ffffff;
}

#main-footer img {
  width: 150px;
}

#main-footer a {
  color: #ffffff;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#main-footer .footer-container input[type ='email'] {
  width: 90%;
  padding: 0.5rem;
  margin: 0.3rem 0;
  border: none;
  border:1px solid #ffffff
}
#main-footer .footer-container input[type ='email']:focus {
  outline-color: var(--primary-color);
}
#main-footer .footer-container input[type ='submit'] {
  width: 90%;
  text-align: center;
  margin: 0.3rem 0;

}
#main-footer .footer-container > *:last-child {
  grid-column: 1/ span 4;
  background-color: #444444;
  text-align: center;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  font-size: 0.75rem;
  border-radius: 10px;
  margin-top: 1rem;
}
